<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Norican" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
    <link href="myStyleSheet.css" rel="stylesheet" media="screen">


</head>
<body >
<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="#">MY RECIPE BOOK</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="gallery.html">List</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="breakfast.html">Breakfast & Brunch</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="mainCourse.html">Main Course</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="salad.html">Salads</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="Dessert.html">Desserts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="Sandwich.html">Sandwiches</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="Soup.html">Soups</a>
        </li>


    </ul>
</nav>
<div >
    <div class="container">


        <div >
            <h1 class="h1" align="center">Recipe For Breakfast</h1>

        </div>

        <div>
            <div class="row">

                <div class="col-6">
                    <br>
                    <img class="menuList" src="image/mexicanflag.jpg.jpg" align="right" >
                </div>
            </div>
        </div>
        <div class="col-12 col-md-10 ml-md-auto">



            <h2 class="h1">Easy Mexican Casserole for breakfast</h2>
            <h3 class="h1" align="left">Ingredients</h3>

            <ul>
                <li>1 pound lean ground beef</li>
                <li>2 cups salsa <br> Pace Thick & Chunky Medium Salsa 16 Oz</li>
                <li>1 (16 ounce) can chili beans, drained </li>
                <li>3 cups tortilla chips, crushed </li>
                <li>2 cups sour cream </li>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>

            </ul>


            <div class="h1">
                <h2 class="direction">Directions</h2>
                <h5 >Preheat oven to 350 degrees F (175 degrees C)</h5>
                <h5 marigin="m">In a large skillet over medium-high heat, cook ground
                    <br>beef until no longer pink. Stir in salsa, reduce heat, and simmer
                    <br>20 minutes, or until liquid is absorbed. Stir in beans, and heat through.</h5>
                <h5 align="left">Spray a 9x13 baking dish with cooking spray. Spread crushed tortilla<br>
                    chips in dish, and the spoon beef mixture over chips. Spread sour cream over beef,<br>
                    and sprinkle olives, green onion, and tomato over the sour cream. Top with Cheddar cheese.</h5>
                <h5 align="left">Bake in preheated oven for 30 minutes, or until hot and bubbly.</h5>
                <br>

                <h3>It could serve upto Four People</h3>
            </div>
            <div class="row">

                <div class="col-6" class="footer-images">

                    <img class="menuList" src="image/breakfast2.jpg.jpg" >
                </div>
            </div>

        </div>

    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script src="activeNav.js"></script>
</body>
</html>