<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="myStyleSheet.css">


</head>
<body>

<div class="container" >
    <div class="row">

        <div class="col-6">
            <br>
            <img class="menuList" src="image/breakfast.jpg" >
            <p CLASS="h1">
                <a href="breakfast.html">Breakfast</a>
            </p>
        </div>
        <div class="col-6">
            <br>
            <img class="menuList" src="image/dessert.jpg" >
            <p CLASS="h1">
                <a href="Dessert.html">Dessert</a>
            </p>
        </div>
    </div>
    <br>
    <div class="row" >
        <div class="col-6">
            <img class="menuList" src="image/maincourse.jpg" >
            <p CLASS="h1">
                <a href="mainCourse.html">Main Course</a>
            </p>
        </div>
        <div class="col-md-6">
            <img class="menuList" src="image/sandwich.jpg">
            <p CLASS="h1">
                <a href="Sandwich.html">Sandwich</a>
            </p>
        </div>
    </div>
    <br>
    <div class="row" >
        <div class="col-6">
            <img class="menuList" src="image/salad.jpg" >
            <p CLASS="h1">
                <a href="salad.html">Salad</a>
            </p>
        </div>
        <div class="col-6">
            <img class="menuList" src="image/soup.jpg">
            <p CLASS="h1">
                <a href="Soup.html">Soup</a>
            </p>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</body>
</html>