<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Norican" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
    <link href="/css/myStyleSheet.css" rel="/stylesheet" media="screen">



</head>
<body class="bg">

<div class="container">

    <div class="jumbotron">
        <div class="jumbotron text-center">
            <h1>Recipe Book</h1>
            <p>Best seller recipe book ever</p>
        </div>
    </div>

    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <ul class="navbar-nav active">
            <li class="nav-item">
                <a class="nav-link" href="#">MY RECIPE BOOK</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link " href="gallery.html">List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="breakfast.html">Breakfast & Brunch</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="mainCourse.html">Main Course</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="salad.html">Salads</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="Dessert.html">Desserts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="Sandwich.html">Sandwiches</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="Soup.html">Soups</a>
            </li>


        </ul>
    </nav>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script src="activeNav.js"></script>
</body>
</html>