<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Norican" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
    <link href="myStyleSheet.css" rel="stylesheet" media="screen">


</head>
<body >
<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="#">MY RECIPE BOOK</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="gallery.html">List</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="breakfast.html">Breakfast & Brunch</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="mainCourse.html">Main Course</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="salad.html">Salads</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="Dessert.html">Desserts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="Sandwich.html">Sandwiches</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="Soup.html">Soups</a>
        </li>


    </ul>
</nav>
<div >
    <div class="container">


        <div >
            <h1 class="h1" align="center">Recipe For Salad</h1>

        </div>

        <div>
            <div class="row">

                <div class="col-6">
                    <br>
                    <img class="menuList" src="image/italy-flag.png" align="right" >
                </div>
            </div>
        </div>
        <div class="col-12 col-md-10 ml-md-auto">



            <h2 class="h1">Classic Italian Pasta Salad</h2>
            <h3 class="h1" align="left">Ingredients</h3>

            <ul>
                <li>8 ounces rotelle or spiral pasta, cooked and drained</li>
                <li>2 1/2 cups assorted cut-up vegetables (broccoli, carrots, tomatoes, bell peppers, cauliflower, onions and mushrooms</li>
                <li>1/2 cup cubed Cheddar or mozzarella cheese </li>
                <li>1/3 cup sliced pitted ripe olives (optional) </li>
                <li>1 cup Wish-Bone® Italian Dressing</li>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>

            </ul>


            <div class="h1">
                <h2 class="direction">Directions</h2>
                <h5 >Combine all ingredients except Wish-Bone(R) Italian Dressing in large bowl. Add Dressing; toss well.<br>
                    Serve chilled or at room temperature..</h5>
                <br>

                <h3>It could serve upto Four People</h3>

            </div>
            <div class="row">

                <div class="col-6" class="footer-images">

                    <img class="menuList" src="image/salad.jpg" >
                </div>
            </div>

        </div>

    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script src="activeNav.js"></script>
</body>
</html>